<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain - Access - LG</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="./css/vendors/bootstrap.css" rel="stylesheet">
    <link href="./css/site/styles.css" rel="stylesheet">
</head>

<header class="cmp-header">
    <div class="cmp-header__main-nav">
        <div class="container">
            <nav class="nav justify-content-end">
                <a class="d-flex nav-link" aria-current="page" href="#">How to buy</a>
                <a class="d-flex nav-link" href="#">Partners</a>
                <a class="d-flex nav-link" href="#"><span class="cmp-header__icon-user"></span> Log in</a>
                <a class="d-flex nav-link" href="#"><span class="cmp-header__icon-world"></span> US EN</a>
            </nav>
        </div>
    </div>
    <div class="cmp-header__secondary-nav">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./images/logo.svg" alt="Jolt" class="img-fluid cmp-header__logo">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Products and Services</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#">Solutions</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#">Support</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="#">Learn</a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<body>  <script src="./js/vendors/bootstrap.bundle.js"></script>
<script src="./js/site/script.js"></script></body>