.cmp-resources__card {
    margin: 17px 26px;
}

.cmp-resources__card .cmp-resources__card-heading {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 28px;
    color: #1B1C1D;
}

.cmp-resources__card .cmp-resources__card-text {
    margin-bottom: 25px;
}

.cmp-resources__card .cmp-resources__card-btn {
    padding: 10px 24px;
    margin-bottom: 28px;
    border-radius: 48px;
    font-size: 14px;
    line-height: 20px;
}

.cmp-resources__card .cmp-resources__card-link {
    font-size: 14px;
    line-height: 20px;
}
