/*
View Button All CSS
*/

button {
  color: #0076D5;
  border-color: #0076D5;
}

.blue button  {
  background-color: #0076D5;
  border-color: #0076D5;
}

 #view button  {
  padding: 10px 24px;
  margin-bottom: 28px;
  border-radius: 48px;
  font-size: 14px;
  line-height: 20px;
}

#view button  {
  padding: 10px 24px;
  margin-top: 13px;
  border-radius: 48px;
  font-size: 14px;
  line-height: 20px;
}

  #view button {
    margin-bottom: 80px;
  }

  button {
    padding: 10px 24px;
    margin: 0 26px;
    border-radius: 48px;
  }

button {
  padding: 10px 24px;
  border-radius: 48px;
}