.cmp-tabs {
    display: flex;
}

.cmp-tabs__tablist {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.cmp-tabs__tab {}
.cmp-tabs__tab--active {}
.cmp-tabs__tabpanel {

}
.cmp-tabs__tabpanel--active {
    display: flex;
}
