<div
  data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
  data-sly-use.titleTemplate="title.html"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
>
  <div class="cmp-resources__card">
    <sly data-sly-call="${titleTemplate.title @ teaser=teaser}"></sly>
    <p class="cmp-resources__card-text">
      Body copy, suggested 100 characters, Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Ut et.
    </p>
    <div>
      <a href="#" class="btn btn-primary fw-bold cmp-resources__card-btn"
        >Try it free</a
      >
    </div>
    <div>
      <a href="#" class="cmp-resources__card-link">Get details ></a>
    </div>
  </div>
</div>
